<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients; let i = index" class="list-group-item" (click)="onEditItem(i)">
        <a style="cursor:pointer" >{{ingredient.name}} ({{ingredient.amount}})</a>
      </li>
    </ul>
  </div>
</div>