<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail *ngIf="recipe; else infoText"></app-recipe-detail>
    <ng-template #infoText>
      <router-outlet></router-outlet>
    </ng-template>
  </div>
</div>