<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a style="cursor:pointer" routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a style="cursor:pointer" routerLink="/shopping">Shopping List</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Log In</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li class="dropdown" appDropDown>
            <a class="dropdown-toggle" role="button">Manage
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a style="cursor:pointer;" (click)="onSaveRecipes()">Save Data</a>
              </li>
              <li>
                <a style="cursor:pointer;" (click)="onFetchRecipes()">Fetch Data</a>
              </li>
            </ul>
          </li>
          <li><a routerLink="/signin" (click)="authService.logout()">Sign out</a></li>
        </ng-template>
      </ul>
    </div>

  </div>
</nav>