<form (ngSubmit)="onSignin(f)" #f="ngForm">
  <div class="col-sm-12 col-md-10 col-md-8 col-sm-offset-1 coll-md-offset-2">
    <div class="form-group">
      <label for="email">Mail</label>
      <input type="email" name="email" id="email" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
  </div>
</form>