<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" required ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" name="amount" required pattern="^[1-9]+[0-9]*$" ngModel>
        </div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" [disabled]="f.invalid">{{ editMode ? 'Update' : 'Add' }}</button>
        <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>
</div>